In [1]:
import pandas as pd
import numpy as np

In [2]:
city_distances = pd.read_csv("city_distances.csv")
dhl_price = pd.read_csv("dhl_price.csv")
dhl_zone = pd.read_csv("dhl_zone.csv")
flights = pd.read_csv("flights.csv")
products = pd.read_csv("products.csv")
requests = pd.read_csv("requests.csv")
travels = pd.read_csv("travels.csv")
users = pd.read_csv("users.csv")

In [3]:
requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,deliveryFee
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,0.0
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,0.0
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,0.0
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,0.0
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,NaN
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,NaN
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,NaN
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,NaN
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,NaN