In [48]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
city_distances = pd.read_csv("city_distances.csv")
dhl_price = pd.read_csv("dhl_price.csv")
dhl_zone = pd.read_csv("dhl_zone.csv")
flights = pd.read_csv("flights.csv")
products = pd.read_csv("products.csv")
requests = pd.read_csv("requests.csv")
travels = pd.read_csv("travels.csv")
users = pd.read_csv("users.csv")

In [3]:
requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,deliveryFee
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,0.0
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,0.0
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,0.0
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,0.0
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,NaN
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,NaN
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,NaN
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,NaN
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,NaN

In [4]:
users

    user_id  gender nationality         dob is_traveller  address       city
0         0  Female       Spain   1963.9.25            t        0      Palma
1         1    Male       Spain  1996.12.12            t        1      Palma
2         2  Female       Spain   1976.7.13            t        2  Barcelona
3         3    Male       Spain    1981.3.4            t        3     Madrid
4         4  Female       Spain   1968.3.16            t        4     Madrid
5         5    Male       Spain   1993.6.26            t        5      Palma
6         6  Female       Spain   1966.8.14            t        6      Palma
7         7    Male       Spain   2003.9.18            t        7      Palma
8         8  Female       Spain   1997.8.20            t        8     Málaga
9         9    Male       Spain   1967.12.9            t        9  Barcelona
10       10  Female       Spain   1986.9.13            t       10     Madrid
11       11    Male       Spain    2003.6.8            t       11      Palma
12       12  Female       Spain    1975.7.2            t       12     Madrid
13       13    Male       Spain   1999.7.28            t       13     Málaga
14       14  Female       Spain    1972.4.5            t       14      Palma
15       15    Male       Spain   1981.5.23            t       15     Málaga
16       16  Female       Spain   1990.3.27            t       16     Málaga
17       17    Male       Spain   1964.4.18            t       17  Barcelona
18       18  Female       Spain   1996.1.15            t       18  Barcelona
19       19    Male       Spain   1964.6.14            t       19     Málaga
20       20  Female       Spain   1967.6.21            f       20     Madrid
21       21    Male       Spain   2005.9.11            f       21      Palma
22       22  Female       Spain   1992.6.27            f       22     Madrid
23       23    Male       Spain    1974.9.5            f       23      Palma
24       24  Female       Spain   1967.9.20            f       24     Madrid
25       25  Female       Spain    1988.1.6            f       25     Málaga
26       26    Male       Spain    2005.5.8            f       26      Palma
27       27  Female       Spain   1978.10.9            f       27  Barcelona
28       28    Male       Spain   1968.1.26            f       28  Barcelona
29       29  Female       Spain  2004.10.15            f       29     Madrid
30       30    Male       Spain   1977.2.14            f       30     Madrid
31       31  Female       Spain    1990.3.8            f       31     Málaga
32       32    Male       Spain   1988.9.24            f       32     Málaga
33       33  Female       Spain   1967.3.18            f       33     Madrid
34       34    Male       Spain   1995.8.23            f       34     Málaga
35       35  Female       Spain    1981.5.7            f       35  Barcelona
36       36    Male       Spain   1968.4.22            f       36  Barcelona
37       37  Female       Spain  1975.12.20            f       37  Barcelona
38       38    Male       Spain   1966.5.25            f       38     Málaga
39       39  Female       Spain   1971.11.4            f       39  Barcelona

## Match requests with price

In [9]:
new_requests = requests.copy()

new_requests["startCity"] = new_requests["pickUpAddress"].apply(lambda x: users.loc[users["user_id"] == x]["city"].values[0])

new_requests["endCity"] = new_requests["collectionAddress"].apply(lambda x: users.loc[users["user_id"] == x]["city"].values[0])

new_requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,deliveryFee,startCity,endCity
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,0.0,Palma,Málaga
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,0.0,Málaga,Madrid
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,0.0,Barcelona,Málaga
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,0.0,Málaga,Palma
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,0.0,Madrid,Barcelona
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,NaN,Málaga,Barcelona
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,NaN,Málaga,Barcelona
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,NaN,Palma,Málaga
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,NaN,Barcelona,Málaga
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,NaN,Málaga,Madrid

In [24]:
def get_distance(start_city,end_city,parameter):
    return city_distances.loc[((city_distances["name1"] == start_city) & (city_distances["name2"] == end_city)) | 
                             ((city_distances["name1"] == end_city) & (city_distances["name2"] == start_city))][parameter].values[0]

new_requests["Distance"] = new_requests.apply(lambda x: get_distance(x["startCity"],x["endCity"],"distance_km"),axis = 1)
new_requests["lpg_price"] = new_requests.apply(lambda x: get_distance(x["startCity"],x["endCity"],"lpg_price"),axis = 1)
new_requests["diesel_price"] = new_requests.apply(lambda x: get_distance(x["startCity"],x["endCity"],"diesel_price"),axis = 1)
new_requests["gasoline_price"] = new_requests.apply(lambda x: get_distance(x["startCity"],x["endCity"],"gasoline_price"),axis = 1)

In [25]:
new_requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,deliveryFee,startCity,endCity,Distance,lpg_price,diesel_price,gasoline_price
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,0.0,Palma,Málaga,695.568426,54.143046,53.558769,71.121176
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,0.0,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,0.0,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,0.0,Málaga,Palma,695.568426,54.143046,53.558769,71.121176
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,0.0,Madrid,Barcelona,506.922016,39.458810,39.032995,51.832269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,NaN,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,NaN,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,NaN,Palma,Málaga,695.568426,54.143046,53.558769,71.121176
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,NaN,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,NaN,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007

In [37]:
def get_product_character(productID,parameter):
    return products.loc[products["product_id"] == productID][parameter].values[0]
    
new_requests["product_weight_g"] = new_requests["productId"].apply((lambda x: get_product_character(x,"product_weight_g")))
new_requests["product_length_cm"] = new_requests["productId"].apply((lambda x: get_product_character(x,"product_length_cm")))
new_requests["product_height_cm"] = new_requests["productId"].apply((lambda x: get_product_character(x,"product_height_cm")))
new_requests["product_width_cm"] = new_requests["productId"].apply((lambda x: get_product_character(x,"product_width_cm")))

new_requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,...,startCity,endCity,Distance,lpg_price,diesel_price,gasoline_price,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,...,Palma,Málaga,695.568426,54.143046,53.558769,71.121176,700,20,20,20
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,...,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007,500,20,12,15
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,...,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212,377,18,13,15
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,...,Málaga,Palma,695.568426,54.143046,53.558769,71.121176,4500,80,70,28
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,...,Madrid,Barcelona,506.922016,39.458810,39.032995,51.832269,500,30,6,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,...,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212,300,16,8,11
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,...,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212,400,18,18,18
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,...,Palma,Málaga,695.568426,54.143046,53.558769,71.121176,400,27,5,20
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,...,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212,1300,22,14,14
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,...,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007,600,20,20,20

In [45]:
def get_dhl_fee(startCity,endCity, product_weight_g):
    calculate_way = dhl_zone.loc[(dhl_zone["Region_start"] == startCity) & (dhl_zone["Region_end"] == endCity)]["Type"].values[0]
    
    weight = np.ceil(product_weight_g/1000)
    price = 0
    if weight <= 30:
        price = dhl_price.loc[dhl_price["Weight"] == weight][calculate_way].values[0]
    else:
        price = dhl_price.loc[dhl_price["Weight"] >= weight].reset_index(drop = True).iloc[0][calculate_way].values[0]
        
    return price
    
    

new_requests["dhl_fee"] = new_requests.apply(lambda x: get_dhl_fee(x["startCity"],x["endCity"],x["product_weight_g"]), axis = 1)

In [59]:
new_requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,deliveryFee,startCity,endCity,Distance,lpg_price,diesel_price,gasoline_price,product_weight_g,product_length_cm,product_height_cm,product_width_cm,dhl_fee
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,0.0,Palma,Málaga,695.568426,54.143046,53.558769,71.121176,700,20,20,20,17.05
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,0.0,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007,500,20,12,15,16.78
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,0.0,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212,377,18,13,15,16.78
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,0.0,Málaga,Palma,695.568426,54.143046,53.558769,71.121176,4500,80,70,28,22.48
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,0.0,Madrid,Barcelona,506.922016,39.458810,39.032995,51.832269,500,30,6,23,16.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,NaN,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212,300,16,8,11,16.78
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,NaN,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212,400,18,18,18,16.78
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,NaN,Palma,Málaga,695.568426,54.143046,53.558769,71.121176,400,27,5,20,17.05
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,NaN,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212,1300,22,14,14,16.78
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,NaN,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007,600,20,20,20,16.78

In [94]:
def estimate_delivery_fee(requests):
    
    return 0.001 *np.round( requests["Distance"],decimals=3) + \
0.01*(np.round(requests["lpg_price"],decimals=3) + \
      np.round(requests["diesel_price"],decimals=3) + \
      np.round(requests["gasoline_price"],decimals=3)) + \
0.0005 * np.round(requests["product_weight_g"],decimals=3) + \
0.001 * (np.round(requests["product_length_cm"],decimals=3) + \
         np.round(requests["product_height_cm"],decimals=3) +
         np.round(products["product_width_cm"],decimals=3)) + \
0.1 * np.round(requests["dhl_fee"],decimals=3)

In [70]:
new_requests["deliveryFee"] = estimate_delivery_fee(new_requests)

In [71]:
new_requests["Satisfactory"] = np.random.choice([True,False],size = new_requests.shape[0],p = [0.9,0.1])

In [92]:
new_requests = pd.read_csv("new_requests.csv")
new_requests["deliveryFee"] = estimate_delivery_fee(new_requests)
new_requests.to_csv("new_requests.csv",index=False, encoding="utf_8_sig")

## Add Variation

In [96]:
new_requests = pd.read_csv("new_requests.csv")
new_requests

,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,description,deliveryFee,startCity,endCity,Distance,lpg_price,diesel_price,gasoline_price,product_weight_g,product_length_cm,product_height_cm,product_width_cm,dhl_fee,Satisfactory
0,26,38,4.0,5773723f7819ffb88c5c758f8f8c183c,07/24/2023 05:52 AM,07/20/2023 09:36 PM,07/18/2023 05:52 AM,26,38,NaN,4.598798,Palma,Málaga,695.568426,54.143046,53.558769,71.121176,700,20,20,20,17.05,True
1,32,24,12.0,2d6676e04aac85ce66dcf8d0529f4012,10/03/2023 07:34 AM,09/26/2023 03:13 AM,09/21/2023 07:34 AM,32,24,NaN,3.456768,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007,500,20,12,15,16.78,True
2,37,38,4.0,8da90b37f0fb171b4877c124f965b1f6,06/15/2023 07:14 PM,06/07/2023 10:21 PM,06/02/2023 07:14 PM,37,38,NaN,4.663359,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212,377,18,13,15,16.78,True
3,31,23,3.0,60cf4effb6947283fa638d570bd07318,08/02/2023 02:05 PM,07/25/2023 09:06 AM,07/22/2023 02:05 PM,31,23,NaN,7.159798,Málaga,Palma,695.568426,54.143046,53.558769,71.121176,4500,80,70,28,22.48,True
4,22,39,15.0,fc37e09bb4dadd1eef5e92e954b1c72e,09/12/2023 07:17 AM,09/07/2023 12:01 PM,09/02/2023 07:17 AM,22,39,NaN,3.797163,Madrid,Barcelona,506.922016,39.458810,39.032995,51.832269,500,30,6,23,16.78,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,25,35,NaN,fc5c33cddd49638580cfe9fec90aa943,04/23/2023 08:33 AM,NaN,04/15/2023 08:33 AM,25,35,NaN,4.613859,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212,300,16,8,11,16.78,True
216,38,27,NaN,1175dc374bce5c9d93c4d4281d8d85d7,04/18/2023 05:29 AM,NaN,04/11/2023 05:29 AM,38,27,NaN,4.682859,Málaga,Barcelona,770.356791,59.964573,59.317473,78.768212,400,18,18,18,16.78,True
217,26,31,NaN,6a2fb4dd53d2cdb88e0432f1284a004c,04/20/2023 06:28 PM,NaN,04/14/2023 06:28 PM,26,31,NaN,4.440798,Palma,Málaga,695.568426,54.143046,53.558769,71.121176,400,27,5,20,17.05,True
218,36,25,NaN,dc582e9ac5036846acfeeb3093b17aa7,04/19/2023 09:46 AM,NaN,04/12/2023 09:46 AM,36,25,NaN,5.128859,Barcelona,Málaga,770.356791,59.964573,59.317473,78.768212,1300,22,14,14,16.78,True
219,25,33,NaN,828fe032935d7c1901682e5b6cc076c2,04/24/2023 03:57 AM,NaN,04/11/2023 03:57 AM,25,33,NaN,3.519768,Málaga,Madrid,414.957672,32.300305,31.951741,42.429007,600,20,20,20,16.78,True

In [101]:
new_requests["deliveryFee"] = new_requests["deliveryFee"] + np.random.normal(0,1,new_requests.shape[0])

In [103]:
new_requests.to_csv("new_requests.csv",index=False, encoding="utf_8_sig")