In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:

# Define the Postgres database connection
database_url = 'postgresql+psycopg2://bdm:test123@localhost/bdm_joint'  # Replace with your database connection details


#'postgresql://abdalrhman:abdalrhman@localhost/abdalrhman'

# Define the path to the folder contains the CSV files
csv_folder_path = './'  # Replace with the actual path to your CSV file

# Create a connection to the Postgres database
engine = create_engine(database_url)

In [3]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'users.csv')

# Write the DataFrame to the Postgres database
data.to_sql('users', engine, if_exists='replace', index=False)

In [4]:
data

    user_id  gender nationality         dob is_traveller       city
0         0  Female       Spain   1963/9/25            t      Palma
1         1    Male       Spain  1996/12/12            t      Palma
2         2  Female       Spain   1976/7/13            t  Barcelona
3         3    Male       Spain    1981/3/4            t     Madrid
4         4  Female       Spain   1968/3/16            t     Madrid
5         5    Male       Spain   1993/6/26            t      Palma
6         6  Female       Spain   1966/8/14            t      Palma
7         7    Male       Spain   2003/9/18            t      Palma
8         8  Female       Spain   1997/8/20            t     Malaga
9         9    Male       Spain   1967/12/9            t  Barcelona
10       10  Female       Spain   1986/9/13            t     Madrid
11       11    Male       Spain    2003/6/8            t      Palma
12       12  Female       Spain    1975/7/2            t     Madrid
13       13    Male       Spain   1999/7/28            t     Malaga
14       14  Female       Spain    1972/4/5            t      Palma
15       15    Male       Spain   1981/5/23            t     Malaga
16       16  Female       Spain   1990/3/27            t     Malaga
17       17    Male       Spain   1964/4/18            t  Barcelona
18       18  Female       Spain   1996/1/15            t  Barcelona
19       19    Male       Spain   1964/6/14            t     Malaga
20       20  Female       Spain   1967/6/21            f     Madrid
21       21    Male       Spain   2005/9/11            f      Palma
22       22  Female       Spain   1992/6/27            f     Madrid
23       23    Male       Spain    1974/9/5            f      Palma
24       24  Female       Spain   1967/9/20            f     Madrid
25       25  Female       Spain    1988/1/6            f     Malaga
26       26    Male       Spain    2005/5/8            f      Palma
27       27  Female       Spain   1978/10/9            f  Barcelona
28       28    Male       Spain   1968/1/26            f  Barcelona
29       29  Female       Spain  2004/10/15            f     Madrid
30       30    Male       Spain   1977/2/14            f     Madrid
31       31  Female       Spain    1990/3/8            f     Malaga
32       32    Male       Spain   1988/9/24            f     Malaga
33       33  Female       Spain   1967/3/18            f     Madrid
34       34    Male       Spain   1995/8/23            f     Malaga
35       35  Female       Spain    1981/5/7            f  Barcelona
36       36    Male       Spain   1968/4/22            f  Barcelona
37       37  Female       Spain  1975/12/20            f  Barcelona
38       38    Male       Spain   1966/5/25            f     Malaga
39       39  Female       Spain   1971/11/4            f  Barcelona

In [5]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'city_distances.csv')

# Write the DataFrame to the Postgres database
data.to_sql('city_distances', engine, if_exists='replace', index=False)

In [6]:
data

,country1,name1,country2,name2,distance_km,currency,lpg_price,diesel_price,gasoline_price
0,Spain,Madrid,Spain,Alacant,360.127617,euro,28.032334,27.729826,36.822689
1,Spain,Madrid,Spain,Malaga,414.957672,euro,32.300305,31.951741,42.429007
2,Spain,Madrid,Spain,Sevilla,390.504192,euro,30.396846,30.068823,39.928663
3,Spain,Madrid,Spain,Palma,550.581189,euro,42.857240,42.394752,56.296376
4,Spain,Madrid,Spain,Barcelona,506.922016,euro,39.458810,39.032995,51.832269
5,Spain,Alacant,Spain,Malaga,391.476854,euro,30.472558,30.143718,40.028117
6,Spain,Alacant,Spain,Sevilla,495.959990,euro,38.605526,38.188919,50.711413
7,Spain,Alacant,Spain,Palma,304.141921,euro,23.674407,23.418928,31.098207
8,Spain,Alacant,Spain,Barcelona,407.252380,euro,31.700525,31.358433,41.641149
9,Spain,Malaga,Spain,Sevilla,158.358120,euro,12.326596,12.193575,16.191959
10,Spain,Malaga,Spain,Palma,695.568426,euro,54.143046,53.558769,71.121176
11,Spain,Malaga,Spain,Barcelona,770.356791,euro,59.964573,59.317473,78.768212
12,Spain,Sevilla,Spain,Palma,791.886788,euro,61.640468,60.975283,80.969632
13,Spain,Sevilla,Spain,Barcelona,831.557005,euro,64.728397,64.029889,85.025872
14,Spain,Palma,Spain,Barcelona,205.306040,euro,15.981022,15.808565,20.992337

In [7]:

# # Read the CSV file into a pandas DataFrame
# data = pd.read_csv(csv_folder_path + 'dhl_price.csv')

# # Write the DataFrame to the Postgres database
# data.to_sql('dhl_price', engine, if_exists='replace', index=False)

In [8]:

# # Read the CSV file into a pandas DataFrame
# data = pd.read_csv(csv_folder_path + 'dhl_zone.csv')

# # Write the DataFrame to the Postgres database
# data.to_sql('dhl_zone', engine, if_exists='replace', index=False)

In [9]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'flights.csv')

# Write the DataFrame to the Postgres database
data.to_sql('flights', engine, if_exists='replace', index=False)

In [10]:
data

,flightNumber,departureAirportFsCode,arrivalAirportFsCode,departureTime,arrivalTime,stops,departureTerminal,arrivalTerminal
0,1007,MAD,BCN,2023-04-23 18:25:00,2023-04-23 19:45:00,0,4.0,1.0
1,1007,MAD,BCN,2023-04-23 18:25:00,2023-04-23 19:45:00,0,4.0,1.0
2,5005,MAD,BCN,2023-04-23 18:25:00,2023-04-23 19:45:00,0,4.0,1.0
3,3546,MAD,BCN,2023-04-23 18:25:00,2023-04-23 19:45:00,0,4.0,1.0
4,7703,MAD,BCN,2023-04-23 15:10:00,2023-04-23 16:35:00,0,2.0,1.0
...,...,...,...,...,...,...,...,...
3930,3150,AGP,PMI,2023-04-28 21:05:00,2023-04-28 22:35:00,0,NaN,NaN
3931,5259,AGP,PMI,2023-04-28 21:05:00,2023-04-28 22:35:00,0,NaN,NaN
3932,5677,AGP,PMI,2023-04-29 21:35:00,2023-04-29 23:05:00,0,NaN,NaN
3933,3148,AGP,PMI,2023-04-29 13:35:00,2023-04-29 15:05:00,0,NaN,NaN
3934,5257,AGP,PMI,2023-04-29 13:35:00,2023-04-29 15:05:00,0,NaN,NaN

In [11]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'products.csv')

# Write the DataFrame to the Postgres database
data.to_sql('products', engine, if_exists='replace', index=False)

In [12]:
data

,product_id,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,product_name
0,1e9e8ef04dbcff4541ed26657ea517e5,225,16,10,14,perfumery,Acqua di Gio by Giorgio Armani
1,6a2fb4dd53d2cdb88e0432f1284a004c,400,27,5,20,perfumery,Alien by Thierry Mugler
2,0d009643171aee696f4733340bc2fdd0,422,21,16,18,perfumery,Black Opium by Yves Saint Laurent
3,b1eae565a61935e0011ee7682fef9dc9,267,17,13,17,perfumery,Bleu de Chanel by Chanel
4,8da90b37f0fb171b4877c124f965b1f6,377,18,13,15,perfumery,Bright Crystal by Versace
...,...,...,...,...,...,...,...
120,91e6a181c1ebe734ab459822cee89763,850,48,16,25,watches_gifts,Tissot T-Touch
121,af8215adef2df1e9e66642f159e81e55,400,20,11,19,watches_gifts,Casio G-Shock
122,35255921c732e0e9319097469d856cd5,400,18,11,15,watches_gifts,Timex Weekender
123,25a675783383c8e0aa707b7e9063c925,253,18,11,13,watches_gifts,Fossil Grant
124,ba3fea9ec13fb882dda6c9e4295d9130,667,20,17,18,watches_gifts,Michael Kors Runway

In [13]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'requests.csv')

# Write the DataFrame to the Postgres database
data.to_sql('requests', engine, if_exists='replace', index=False)

In [14]:
data

,requestId,initializationUserId,collectionUserId,travellerId,productId,dateToDeliver,dateDelivered,requestDate,pickUpAddress,collectionAddress,deliveryFee,Satisfactory,dhl_fee
0,0,24,26,0.0,d68bd4dedccc5545b1ff6629de8fb021,2023-08-07 08:16:00,2023-08-03 08:55:00,2023-07-28 08:16:00,24,26,4.587871,t,17.05
1,1,28,33,15.0,b864b103180d5a6a3f830e67f93e8735,2023-09-16 22:08:00,2023-09-10 21:55:00,2023-09-06 22:08:00,28,33,2.739487,t,16.78
2,2,27,23,15.0,be1be330cf34043d1c40d6114cbd11b5,2023-08-22 04:37:00,2023-08-14 10:21:00,2023-08-11 04:37:00,27,23,2.321269,f,17.05
3,3,22,38,3.0,062e425d963f3eac04709162c3ce6782,2023-06-24 16:55:00,2023-06-24 15:34:00,2023-06-18 16:55:00,22,38,3.061754,t,16.78
4,4,29,37,19.0,dbb399a8be7395d5b136d49fcdce13df,2023-09-09 11:56:00,2023-09-01 17:27:00,2023-08-29 11:56:00,29,37,3.886117,t,16.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,215,24,31,NaN,c20fbbd4ccf2f7da70e150689a6a905f,2023-04-26 09:51:00,NaN,2023-04-16 09:51:00,24,31,NaN,NaN,16.78
216,216,21,38,NaN,dbb399a8be7395d5b136d49fcdce13df,2023-04-18 12:16:00,NaN,2023-04-11 12:16:00,21,38,NaN,NaN,17.05
217,217,23,38,NaN,483df9288035696f34225a7047591d13,2023-04-22 03:02:00,NaN,2023-04-11 03:02:00,23,38,NaN,NaN,17.05
218,218,39,24,NaN,3488d2ce36e718097c1509444289ef7f,2023-04-26 17:32:00,NaN,2023-04-15 17:32:00,39,24,NaN,NaN,16.78
219,219,38,20,NaN,69e3a7b303638194dc5edd5e6abff8ff,2023-04-29 14:23:00,NaN,2023-04-16 14:23:00,38,20,NaN,NaN,16.78

In [15]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'travels.csv')

# Write the DataFrame to the Postgres database
data.to_sql('travels', engine, if_exists='replace', index=False)

In [16]:
data

,userId,departureAirportFsCode,arrivalAirportFsCode,departureTime,arrivalTime,extraLuggage
0,0,Madrid,Barcelona,2023/4/22 20:00,2023/4/22 21:20,4
1,0,Barcelona,Madrid,2023/4/25 12:40,2023/4/25 14:05,7
2,1,Madrid,Barcelona,2023/4/19 15:10,2023/4/19 16:35,4
3,1,Barcelona,Madrid,2023/4/22 18:05,2023/4/22 19:30,3
4,2,Madrid,Barcelona,2023/4/19 20:00,2023/4/19 21:20,7
5,2,Barcelona,Madrid,2023/4/23 18:05,2023/4/23 19:30,4
6,3,Palma,Malaga,2023/4/21 6:45,2023/4/21 8:20,5
7,3,Malaga,Palma,2023/4/24 20:40,2023/4/24 22:05,3
8,4,Madrid,Barcelona,2023/4/19 16:30,2023/4/19 17:50,6
9,4,Barcelona,Madrid,2023/4/23 11:35,2023/4/23 13:05,4
10,5,Madrid,Malaga,2023/4/21 15:00,2023/4/21 16:15,4
11,5,Malaga,Madrid,2023/4/25 9:20,2023/4/25 10:40,4
12,6,Barcelona,Palma,2023/4/22 18:45,2023/4/22 19:30,4
13,6,Palma,Barcelona,2023/4/25 8:00,2023/4/25 8:55,2
14,7,Barcelona,Malaga,2023/4/21 6:50,2023/4/21 8:30,3
15,7,Malaga,Barcelona,2023/4/24 15:10,2023/4/24 16:50,3
16,8,Madrid,Malaga,2023/4/21 10:35,2023/4/21 11:50,5
17,8,Malaga,Madrid,2023/4/24 8:35,2023/4/24 9:45,2
18,9,Barcelona,Palma,2023/4/20 16:05,2023/4/20 17:00,4
19,9,Palma,Barcelona,2023/4/24 7:05,2023/4/24 7:55,6
20,10,Palma,Malaga,2023/4/22 15:40,2023/4/22 17:15,6
21,10,Malaga,Palma,2023/4/25 16:20,2023/4/25 17:50,2
22,11,Barcelona,Palma,2023/4/21 13:40,2023/4/21 14:40,7
23,11,Palma,Barcelona,2023/4/24 21:10,2023/4/24 22:05,4
24,12,Madrid,Palma,2023/4/22 19:35,2023/4/22 20:55,3
25,12,Palma,Madrid,2023/4/25 10:40,2023/4/25 12:05,3
26,13,Barcelona,Malaga,2023/4/20 15:50,2023/4/20 17:30,3
27,13,Malaga,Barcelona,2023/4/24 6:45,2023/4/24 8:25,5
28,14,Palma,Malaga,2023/4/19 19:50,2023/4/19 21:25,2
29,14,Malaga,Palma,2023/4/22 13:35,2023/4/22 15:05,5
30,15,Madrid,Malaga,2023/4/20 7:30,2023/4/20 8:45,5
31,15,Malaga,Madrid,2023/4/24 8:35,2023/4/24 9:45,2
32,16,Barcelona,Palma,2023/4/20 20:40,2023/4/20 21:30,3
33,16,Palma,Barcelona,2023/4/24 21:10,2023/4/24 22:05,8
34,17,Madrid,Palma,2023/4/22 17:05,2023/4/22 18:25,3
35,17,Palma,Madrid,2023/4/25 8:00,2023/4/25 9:25,2
36,18,Madrid,Barcelona,2023/4/21 20:00,2023/4/21 21:20,7
37,18,Barcelona,Madrid,2023/4/25 10:05,2023/4/25 11:30,1
38,19,Barcelona,Malaga,2023/4/19 6:50,2023/4/19 8:30,6
39,19,Malaga,Barcelona,2023/4/22 23:10,2023/4/23 0:45,4

In [17]:
# # Read the CSV file into a pandas DataFrame
# data = pd.read_csv(csv_folder_path + 'new_requests.csv')

# # Write the DataFrame to the Postgres database
# data.to_sql('new_requests', engine, if_exists='replace', index=False)

In [18]:

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(csv_folder_path + 'addresses.csv')

# Write the DataFrame to the Postgres database
data.to_sql('travels', engine, if_exists='replace', index=False)

In [19]:
data

    user_id  gender nationality         dob is_traveller       city
0         0  Female       Spain   1963/9/25            t      Palma
1         1    Male       Spain  1996/12/12            t      Palma
2         2  Female       Spain   1976/7/13            t  Barcelona
3         3    Male       Spain    1981/3/4            t     Madrid
4         4  Female       Spain   1968/3/16            t     Madrid
5         5    Male       Spain   1993/6/26            t      Palma
6         6  Female       Spain   1966/8/14            t      Palma
7         7    Male       Spain   2003/9/18            t      Palma
8         8  Female       Spain   1997/8/20            t     Malaga
9         9    Male       Spain   1967/12/9            t  Barcelona
10       10  Female       Spain   1986/9/13            t     Madrid
11       11    Male       Spain    2003/6/8            t      Palma
12       12  Female       Spain    1975/7/2            t     Madrid
13       13    Male       Spain   1999/7/28            t     Malaga
14       14  Female       Spain    1972/4/5            t      Palma
15       15    Male       Spain   1981/5/23            t     Malaga
16       16  Female       Spain   1990/3/27            t     Malaga
17       17    Male       Spain   1964/4/18            t  Barcelona
18       18  Female       Spain   1996/1/15            t  Barcelona
19       19    Male       Spain   1964/6/14            t     Malaga
20       20  Female       Spain   1967/6/21            f     Madrid
21       21    Male       Spain   2005/9/11            f      Palma
22       22  Female       Spain   1992/6/27            f     Madrid
23       23    Male       Spain    1974/9/5            f      Palma
24       24  Female       Spain   1967/9/20            f     Madrid
25       25  Female       Spain    1988/1/6            f     Malaga
26       26    Male       Spain    2005/5/8            f      Palma
27       27  Female       Spain   1978/10/9            f  Barcelona
28       28    Male       Spain   1968/1/26            f  Barcelona
29       29  Female       Spain  2004/10/15            f     Madrid
30       30    Male       Spain   1977/2/14            f     Madrid
31       31  Female       Spain    1990/3/8            f     Malaga
32       32    Male       Spain   1988/9/24            f     Malaga
33       33  Female       Spain   1967/3/18            f     Madrid
34       34    Male       Spain   1995/8/23            f     Malaga
35       35  Female       Spain    1981/5/7            f  Barcelona
36       36    Male       Spain   1968/4/22            f  Barcelona
37       37  Female       Spain  1975/12/20            f  Barcelona
38       38    Male       Spain   1966/5/25            f     Malaga
39       39  Female       Spain   1971/11/4            f  Barcelona