In [13]:
import pandas as pd
import datetime

In [8]:
travels = pd.read_csv("travels.csv")
travels

,userId,departureAirportFsCode,arrivalAirportFsCode,departureTime,arrivalTime,extraLuggage
0,0,Madrid,Barcelona,2023/4/22 20:00,2023/4/22 21:20,4
1,0,Barcelona,Madrid,2023/4/25 12:40,2023/4/25 14:05,7
2,1,Madrid,Barcelona,2023/4/19 15:10,2023/4/19 16:35,4
3,1,Barcelona,Madrid,2023/4/22 18:05,2023/4/22 19:30,3
4,2,Madrid,Barcelona,2023/4/19 20:00,2023/4/19 21:20,7
5,2,Barcelona,Madrid,2023/4/23 18:05,2023/4/23 19:30,4
6,3,Palma,Malaga,2023/4/21 6:45,2023/4/21 8:20,5
7,3,Malaga,Palma,2023/4/24 20:40,2023/4/24 22:05,3
8,4,Madrid,Barcelona,2023/4/19 16:30,2023/4/19 17:50,6
9,4,Barcelona,Madrid,2023/4/23 11:35,2023/4/23 13:05,4
10,5,Madrid,Malaga,2023/4/21 15:00,2023/4/21 16:15,4
11,5,Malaga,Madrid,2023/4/25 9:20,2023/4/25 10:40,4
12,6,Barcelona,Palma,2023/4/22 18:45,2023/4/22 19:30,4
13,6,Palma,Barcelona,2023/4/25 8:00,2023/4/25 8:55,2
14,7,Barcelona,Malaga,2023/4/21 6:50,2023/4/21 8:30,3
15,7,Malaga,Barcelona,2023/4/24 15:10,2023/4/24 16:50,3
16,8,Madrid,Malaga,2023/4/21 10:35,2023/4/21 11:50,5
17,8,Malaga,Madrid,2023/4/24 8:35,2023/4/24 9:45,2
18,9,Barcelona,Palma,2023/4/20 16:05,2023/4/20 17:00,4
19,9,Palma,Barcelona,2023/4/24 7:05,2023/4/24 7:55,6
20,10,Palma,Malaga,2023/4/22 15:40,2023/4/22 17:15,6
21,10,Malaga,Palma,2023/4/25 16:20,2023/4/25 17:50,2
22,11,Barcelona,Palma,2023/4/21 13:40,2023/4/21 14:40,7
23,11,Palma,Barcelona,2023/4/24 21:10,2023/4/24 22:05,4
24,12,Madrid,Palma,2023/4/22 19:35,2023/4/22 20:55,3
25,12,Palma,Madrid,2023/4/25 10:40,2023/4/25 12:05,3
26,13,Barcelona,Malaga,2023/4/20 15:50,2023/4/20 17:30,3
27,13,Malaga,Barcelona,2023/4/24 6:45,2023/4/24 8:25,5
28,14,Palma,Malaga,2023/4/19 19:50,2023/4/19 21:25,2
29,14,Malaga,Palma,2023/4/22 13:35,2023/4/22 15:05,5
30,15,Madrid,Malaga,2023/4/20 7:30,2023/4/20 8:45,5
31,15,Malaga,Madrid,2023/4/24 8:35,2023/4/24 9:45,2
32,16,Barcelona,Palma,2023/4/20 20:40,2023/4/20 21:30,3
33,16,Palma,Barcelona,2023/4/24 21:10,2023/4/24 22:05,8
34,17,Madrid,Palma,2023/4/22 17:05,2023/4/22 18:25,3
35,17,Palma,Madrid,2023/4/25 8:00,2023/4/25 9:25,2
36,18,Madrid,Barcelona,2023/4/21 20:00,2023/4/21 21:20,7
37,18,Barcelona,Madrid,2023/4/25 10:05,2023/4/25 11:30,1
38,19,Barcelona,Malaga,2023/4/19 6:50,2023/4/19 8:30,6
39,19,Malaga,Barcelona,2023/4/22 23:10,2023/4/23 0:45,4

In [12]:
travels["departureTime"].dtypes

dtype('O')